$header-decoration-color: #f44245;
@mixin header-decoration {
  border-left: .3rem solid $header-decoration-color;
  padding-top: .4rem;
  padding-bottom: .5rem;
  letter-spacing: 1.33px;
}
@mixin container-position {
  position: absolute;
  top: 25%;
  left: 8%;
}
