.intro {
  background-color: #141414;
  color: white;
}
.intro .container--intro {
  margin-top: 25vh;
  padding-left: 3rem;
  margin-top: 40vh;
}
@media only screen and (max-width: 640px) {
  .intro .container--intro {
    padding-left: 2.3rem;
  }
}
.intro .container--intro .header--intro, .intro .container--intro .intro__lead {
  padding-left: 8px;
}
.intro .container--intro .header--intro {
  border-left: 0.3rem solid #f44245;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  letter-spacing: 1.33px;
  font-size: xx-large;
  font-weight: normal;
}
.intro .container--intro .intro__lead {
  margin-top: 12px;
  font-size: x-large;
  font-weight: 300;
}

.about .container--about {
  margin-top: 25vh;
  padding-left: 3rem;
  height: 70vh;
}
@media only screen and (max-width: 640px) {
  .about .container--about {
    padding-left: 2.3rem;
  }
}
@media only screen and (max-width: 480px) {
  .about .container--about {
    margin-top: 3rem;
  }
}
.about .container--about .header--about, .about .container--about .about__paragraph {
  padding-left: 9px;
}
.about .container--about .header--about {
  border-left: 0.3rem solid #f44245;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  letter-spacing: 1.33px;
  font-size: xx-large;
  font-weight: 300;
}
.about .container--about .about__paragraph {
  margin-top: 24px;
  width: 50vw;
}
@media only screen and (max-width: 640px) {
  .about .container--about .about__paragraph {
    width: 85vw;
  }
}
.about .container--about .button {
  margin-top: 5.2vh;
  margin-left: 9px;
  margin-right: 1rem;
}

.skills {
  background: antiquewhite;
}
@media only screen and (max-width: 640px) {
  .skills {
    height: auto;
  }
}
.skills .container--skills {
  margin-top: 25vh;
  padding-left: 3rem;
}
@media only screen and (max-width: 640px) {
  .skills .container--skills {
    padding-left: 2.3rem;
  }
}
@media only screen and (max-width: 640px) {
  .skills .container--skills {
    margin-top: 5vh;
  }
}
.skills .container--skills .header--skills, .skills .container--skills .skills__sets {
  padding-left: 10px;
  margin-bottom: 8px;
}
.skills .container--skills .header--skills {
  border-left: 0.3rem solid #f44245;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  letter-spacing: 1.33px;
  font-size: xx-large;
  font-weight: 300;
}
.skills .container--skills .skills__sets {
  display: flex;
  margin-top: 38px;
  margin-bottom: 76px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 480px) {
  .skills .container--skills .skills__sets {
    margin-top: 10px;
    margin-right: 19px;
    justify-content: space-between;
  }
}
.skills .container--skills .skills__sets .sets__set {
  padding: 25px 3.7vw;
}
@media only screen and (max-width: 640px) {
  .skills .container--skills .skills__sets .sets__set {
    padding: 25px 5vw;
  }
}
@media only screen and (max-width: 480px) {
  .skills .container--skills .skills__sets .sets__set {
    width: 50%;
    padding: 25px 4.5vw;
  }
}
.skills .container--skills .skills__sets .sets__set .set__header {
  font-size: large;
  margin-bottom: 24px;
  position: relative;
}
.skills .container--skills .skills__sets .sets__set .set__header::after {
  content: "";
  height: 0.3rem;
  background-color: #f44245;
  opacity: 0.7;
  margin-top: 0.5rem;
  width: 3rem;
  display: block;
}
.skills .container--skills .skills__sets .sets__set ul {
  padding-left: 0px;
  font-size: medium;
}
.skills .container--skills .skills__sets .sets__set ul li {
  padding-top: 8px;
  padding-right: 8px;
  width: 90px;
}

.contact {
  background-color: #141414;
  color: white;
  height: auto;
}
.contact .container--contact {
  margin-top: 25vh;
  padding-left: 3rem;
  margin-top: 6vh;
  margin-bottom: 6vh;
}
@media only screen and (max-width: 640px) {
  .contact .container--contact {
    padding-left: 2.3rem;
  }
}
.contact .container--contact .header--contact {
  border-left: 0.3rem solid #f44245;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  letter-spacing: 1.33px;
  font-size: x-large;
  font-weight: 300;
  padding-left: 10px;
}
.contact .container--contact ul {
  margin-top: 16px;
}
.contact .container--contact ul li {
  font-size: 14pt;
  display: inline-flex;
  flex-direction: row;
  padding-right: 5px;
}
.contact .container--contact ul li i {
  font-size: 19pt;
  padding-right: 15px;
}
.contact .container--contact ul li a {
  padding-right: 35px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  text-decoration: none;
  margin-top: 2px;
  color: white;
  display: flex;
  align-items: center;
}
.contact .container--contact ul li a:hover {
  opacity: 0.5;
}

*, ::after, ::before {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.button {
  background-color: transparent;
  border: 2px solid #141414;
  display: inline-block;
  cursor: pointer;
  color: #141414;
  font-family: Arial;
  font-size: 19px;
  padding: 13px 43px;
  text-decoration: none;
  transition: all 250ms;
}

.button:hover {
  background-color: #141414;
  color: white;
}

.button:active {
  position: relative;
  top: 1px;
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

/*# sourceMappingURL=index.css.map */
