.intro {
  background-color: #141414;
  color: white;
}
.intro .container--intro {
  top: 40%;
}
.intro .container--intro .header--intro, .intro .container--intro .intro__lead {
  padding-left: 8px;
}
.intro .container--intro .header--intro {
  font-size: xx-large;
  font-weight: normal;
}
.intro .container--intro .intro__lead {
  margin-top: 12px;
  font-size: x-large;
  font-weight: 300;
}

.about .container--about .about--header, .about .container--about .about__paragraph {
  padding-left: 9px;
}
.about .container--about .about--header {
  font-size: xx-large;
  font-weight: 300;
}
.about .container--about .about__paragraph {
  margin-top: 24px;
  width: 50vw;
}

.skills .container--skills {
  top: 13%;
}
.skills .container--skills .header--skills, .skills .container--skills .skills__sets {
  padding-left: 10px;
  margin-bottom: 7px;
}
.skills .container--skills .header--skills {
  font-size: xx-large;
  font-weight: 300;
}
.skills .container--skills .skills__sets {
  display: flex;
  margin-top: 38px;
  margin-bottom: 76px;
}
.skills .container--skills .skills__sets .sets__set {
  margin-right: 64px;
  margin-left: 64px;
}
.skills .container--skills .skills__sets .sets__set .set__header {
  font-size: large;
  margin-bottom: 24px;
  position: relative;
}
.skills .container--skills .skills__sets .sets__set .set__header::after {
  content: "";
  height: 0.3rem;
  background-color: #f44245;
  opacity: 0.7;
  margin-top: 0.5rem;
  width: 3rem;
  display: block;
}
.skills .container--skills .skills__sets .sets__set ul {
  padding-left: 4px;
  font-size: medium;
}
.skills .container--skills .skills__sets .sets__set ul li {
  padding-top: 8px;
}

.contact {
  background-color: #141414;
  color: white;
  height: 35vh;
}
.contact .container--contact .header--contact {
  font-size: x-large;
  font-weight: 300;
  padding-left: 10px;
}
.contact .container--contact ul {
  margin-top: 16px;
}
.contact .container--contact ul li {
  font-size: 14pt;
  display: inline-flex;
  flex-direction: row;
  padding-right: 5px;
}
.contact .container--contact ul li i {
  font-size: 19pt;
  padding-right: 15px;
}
.contact .container--contact ul li a, .contact .container--contact ul li input[type=button] {
  padding-right: 35px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  text-decoration: none;
  margin-top: 2px;
  color: white;
  display: flex;
  align-items: center;
}
.contact .container--contact ul li a:hover {
  opacity: 0.5;
}

.header, .intro .container--intro .header--intro, .about .container--about .about--header, .skills .container--skills .header--skills, .contact .container--contact .header--contact {
  border-left: 0.3rem solid #f44245;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  letter-spacing: 1.33px;
}

.container, .intro .container--intro, .about .container--about, .skills .container--skills, .contact .container--contact {
  position: absolute;
  top: 25%;
  left: 8%;
}

*, ::after, ::before {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=index.css.map */
