.about {
  .container--about {
    @include container;
    height: 70vh;
    .header--about, .about__paragraph {
      padding-left: 9px;
    }

    .header--about {
      @include header;
      font-size: xx-large;
      font-weight: 300;
    }

    .about__paragraph {
      margin-top: 24px;
      width: 50vw;
      @include tablet {
        width: 85vw;
      }
    }
    .button {
      margin-top: 4.5vh;
      margin-left: 9px;
    }
  }
}