.about {
  .container--about {
    @extend .container;

    .header--about, .about__paragraph {
      padding-left: 9px;
    }

    .header--about {
      @extend .header;
      font-size: xx-large;
      font-weight: 300;
    }

    .about__paragraph {
      margin-top: 24px;
      width: 50vw;
      @include tablet {
        width: 85vw;
      }
    }
  }
}