.about {
  .container--about {
    @extend .container;

    .about--header, .about__paragraph {
      padding-left: 9px;
    }

    .about--header {
      @extend .header;
      font-size: xx-large;
      font-weight: 300;
    }

    .about__paragraph {
      margin-top: 24px;
      width: 50vw;
    }
  }
}