.contact {
  background-color: $background-color;
  color: white;
  height: auto;

  .container--contact {
    @include container;
    margin-top: 6vh;
    margin-bottom: 6vh;
    .header--contact {
      @include header;
      font-size: x-large;
      font-weight: 300;
      padding-left: 10px;
      @include wide {
        font-size: 2.3vw;
      }
    }

    ul {
      margin-top: 16px;
      li {
        font-size: 14pt;
        display: inline-flex;
        flex-direction: row;
        padding-right: 5px;

        @include wide {
          font-size: 1.7vw;
          padding-right: 2vw;
        }
        i {
          font-size: 19pt;
          padding-right: 15px;
          @include wide {
            font-size: 1.8vw;
            padding-right: 1vw;
          }
        }

        a {
          padding-right: 35px;
          padding-bottom: 10px;
          padding-top: 10px;
          width: 100%;
          text-decoration: none;
          margin-top: 2px;
          color: white;
          display: flex;
          align-items: center;
        }

        a:hover {
          opacity: .5;
        }
      }
    }
  }
}