.contact {
  background-color: $background-color;
  color: white;
  height: auto;

  .container--contact {
    @include container;
    margin-top: 6vh;
    margin-bottom: 6vh;
    .header--contact {
      @include header;
      font-size: x-large;
      font-weight: 300;
      padding-left: 10px;
    }

    ul {
      margin-top: 16px;

      li {
        font-size: 14pt;
        display: inline-flex;
        flex-direction: row;
        padding-right: 5px;

        i {
          font-size: 19pt;
          padding-right: 15px;
        }

        a {
          padding-right: 35px;
          padding-bottom: 10px;
          padding-top: 10px;
          width: 100%;
          text-decoration: none;
          margin-top: 2px;
          color: white;
          display: flex;
          align-items: center;
        }

        a:hover {
          opacity: .5;
        }
      }
    }
  }
}