.intro {
  background-color: $background-color;
  color: white;
  .container--intro {
    @include container;
    margin-top: 40vh;
    .header--intro, .intro__lead {
      padding-left: 8px;
    }
    .header--intro {
      @include header;
      font-size: xx-large;
      font-weight: normal;

    }
    .intro__lead {
      margin-top: 12px;
      font-size: x-large;
      font-weight: 300;
      @include wide {
        font-size: 2vw;
      }
    }
  }
}