.skills {
  //background: antiquewhite; // debug purpose
  .container--skills {
    @include container;
    top: 15%;
    .header--skills, .skills__sets {
      padding-left: 10px;
      margin-bottom: 7px;
    }

    .header--skills {
      @include header;
      font-size: xx-large;
      font-weight: 300;
    }

    .skills__sets {
      display: flex;
      margin-top: 38px;
      margin-bottom: 76px;
      .sets__set {
        margin-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-right: calc((20vw/5)/2);
        margin-left: calc((20vw/5)/2);

        .set__header {
          font-size: large;
          margin-bottom: 24px;
          position: relative;

          &::after {
            content: '';
            height: .3rem;
            background-color: $header-decoration-color;
            opacity: .7;
            margin-top: .5rem;
            width: 3rem;
            display: block;
          }
        }

        ul {
          padding-left: 4px;
          font-size: medium;

          li {
            padding-top: 8px;
          }
        }
      }
    }
  }
}