.skills {
  background: antiquewhite; // debug purpose
  height: 115vh;
  .container--skills {
    @include container;
    top: 15%;
    right: 3%;
    @include tablet {
      top: 5%;
    }

    .header--skills, .skills__sets {
      padding-left: 10px;
      margin-bottom: 7px;
    }

    .header--skills {
      @include header;
      font-size: xx-large;
      font-weight: 300;
    }

    .skills__sets {
      display: flex;
      margin-top: 38px;
      margin-bottom: 76px;
      flex-wrap: wrap;
      @include phone {
        margin-top: 10px;
        margin-right: 19px;
        justify-content: space-between;
      }
      .sets__set {
        padding: 25px 3.7vw;
        @include tablet {
          padding: 25px 5vw;
        }
        @include phone {
          width: 50%;
          padding: 25px 4.5vw;
        }

        .set__header {
          font-size: large;
          margin-bottom: 24px;
          position: relative;

          &::after {
            content: '';
            height: .3rem;
            background-color: $header-decoration-color;
            opacity: .7;
            margin-top: .5rem;
            width: 3rem;
            display: block;
          }
        }

        ul {
          padding-left: 0px;
          font-size: medium;

          li {
            padding-top: 8px;
            padding-right: 8px;
            width: 90px;
          }
        }
      }
    }
  }
}