.skills {
  .container--skills {
    @extend .container;
    top: 13%;

    .header--skills, .skills__sets {
      padding-left: 10px;
      margin-bottom: 7px;
    }

    .header--skills {
      @extend .header; 
      font-size: xx-large;
      font-weight: 300;
    }

    .skills__sets {
      display: flex;
      margin-top: 38px;
      margin-bottom: 76px;

      .sets__set {
        margin-right: 64px;
        margin-left: 64px;

        .set__header {
          font-size: large;
          margin-bottom: 24px;
          position: relative;

          &::after {
            content: '';
            height: .3rem;
            background-color: $header-decoration-color;
            opacity: .7;
            margin-top: .5rem;
            width: 3rem;
            display: block;
          }
        }

        ul {
          padding-left: 4px;
          font-size: medium;

          li {
            padding-top: 8px;
          }
        }
      }
    }
  }
}